h1 {
    /* position: fixed; */
    font-family: 'Alfa Slab One';
}

.play {
    position: static;
}

#movie-search-bar{
    position: relative;
}

.actorBtn{
    background-color: cornsilk;
    font-family: 'Alfa Slab One';
    margin: 5px;
}

#actor-list{
    background-color: burlywood;
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#actor-list-heading{
    text-decoration: underline;
    font-size: x-large;
    font-family: 'Alfa Slab One';
}

#nyt-col{
    font-family: 'Alfa Slab One';
}

#movie-reviews{
    background-color: rgb(240, 185, 114);
    margin:10px;
    font-family: 'Alfa Slab One';
}

#twitter-col{
    font-family: 'Alfa Slab One';
}

#giphy-col{
    background-color: cadetblue;
    margin:10px;
}

#nyt-col{
    background-color: cornflowerblue;
    margin:10px;
}

#twitter-col{
    background-color: tomato;
    margin:10px;
}